.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    min-width: fit-content;
    min-height: fit-content;
    /* align-content: center; */
  } 
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
    flex-grow: 1;

    display: flex;

    flex-direction: column;

    align-items: center;

    max-height: 100%;

    justify-content: center;

    align-items: stretch;
    /* align-content: center; */
  }
  
mat-grid-tile.a1{
  min-height: 300px;
  min-width: 500px;
}
mat-card{
  display: flex;
  flex-direction: column;
}




.card-body{
  background-color: #1B2431;
  color:aliceblue;
 }
 
 .card-title
 {
   color: aliceblue;
 }

 .card{
  border-color: white;
  background-color: #1B2431;
 }