
<div class="row ">
  <div class="container col-lg-2 ">
          <p style="color: aliceblue;">Select Region</p>
  </div>

  <div class="container col-lg-2 ">
    <p style="color: aliceblue;"> Select No of Days</p>
</div>

</div>

<div class="row" style="margin-top: -30px;" >
  
    <div class="container col-lg-1">
      <select class="form-select form-select-sm" style="width: fit-content;" #region (change)= "onSelected(region.value)">

        <option>Region A</option>
        <option>Region B</option>
        <option>Region C</option>
        <option>Region D</option>
        <option>Region E</option>
        <option>Region F</option>
        <option>Region G</option>

      </select>
    </div>


<div class="container col-lg-1">
      <select class="form-select form-select-sm" style="width: fit-content;" #numberofvalue (change)= "onSelected1(numberofvalue.value)">

        <option>7</option>
        <option>10</option>
        <option>15</option>
        <option>30</option>
        <option>50</option>
        <option>100</option>

      </select>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Average Bandwidth Usage</h4>

          <canvas baseChart [type]= "'line'" [data]= "bandwidthData" [options]= "bandwidthOptions"></canvas>

        </div>
      </div>
    </div>
    
    <div class="col-lg-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Average Network Latency</h4>
     
          <canvas baseChart [type]= "'line'" [data]= "netlatencyData" [options]= "netlatencyOptions"></canvas>

        </div>
      </div>
    </div>

    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Average Packet loss</h4>
           
            <canvas baseChart [type]= "'line'" [data]= "packetlossData" [options]= "packetlossOptions"></canvas>

        </div>
        </div>
      </div>
</div>

<br>
<div class="row">
    <div class="col-lg-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Average Jitter</h4>
        
          <canvas baseChart [type]= "'line'" [data]= "jitterData" [options]= "jitterOptions"></canvas>

        </div>
      </div>
    </div>
    
    <div class="col-lg-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Average Bit Rate</h4>
         
          <canvas baseChart [type]= "'line'" [data]= "bitrateData" [options]= "bitrateOptions"></canvas>

        </div>
      </div>
    </div>

    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title ">Average Call Setup Time</h4>
          
            <canvas baseChart [type]= "'line'" [data]= "callsetuptimeData" [options]= "callsetuptimeOptions"></canvas>

        </div>
        </div>
      </div>
</div>